
<div class="container center">

<h1>Eat-Da-Burger</h1>

<div class="row">
    <div class="col-md-4 col-sm-4"><h4>Available Burgers:<h4>
    <!--if default value = 0 -->
    {{#each burgers }}
    {{#unless this.devoured}}
    <li class="burger available">{{burger_name}}</li>
    <form action="/{{this.id}}?_method=PUT" method="POST">
    <input type="hidden" name="devoured" value="1">
        <button type="submit">Eat Me!</button>
    </form>
    {{/unless}}
    {{/each}}   
    </div>
   
    <div class="col-md-4 col-sm-4"><img src="assets/img/burger.png" alt='burger'  /></div>
    
    <div class="col-md-4 col-sm-4"><h4>Devoured Burgers:</h4>
    <!--if default value = 1 -->
      {{#each burgers}}
      {{#if this.devoured}}
       {{!-- {{#each burgers }} --}}
        <li class="burger eaten">{{burger_name}}</li>  
       {{!-- {{/each}}
        {{burgers}} --}}
      {{/if}}
      {{/each}}
      </div>

<!--add a burger form-->
<div class="row">
  <form action="/" method="POST">
    <div class="col-md-12 p"><input type="text" name="burger_name" placeholder="add a burger" class="input"></div>
      <input type='hidden' name="devoured" value="0">  
    <div class="col-md-12 p"><button type="submit">Add Burger</button></div>
  </form>
</div>
   
</div>
<!--row ends-->
</div>
<!--container ends-->
